<h1>User info</h1>
<!-- user info -->


<h1>New book</h1>

<%= form_with model: @book do |f| %>
  <label>Title</label>
  <%= f.text_field :title, value: "" %>

  <label>Opinion</label>
  <%= f.text_area :body, value: "" %>

  <%= f.submit 'Create Book' %>
<% end %>


<h1>Book detail</h1>

<table>
  <tbody>
    <tr>画像・ユーザーリンク</tr>
    <tr><%= link_to @book.title, "/books/#{@book.id}" %> </tr>
    <tr><%= @book.body %></tr>

    <% if @book.user == current_user %>
      <tr><%= link_to "Edit", edit_book_path(@book) %></tr>
    <% end %>

    <% if @book.user == current_user %>
      <tr><%= link_to "Destroy", book_path(@book), method: :delete %></tr>
    <% end %>
  </tbody>
</table>